@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #f8f0dc;
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    margin: 0px 0;
    width: 15%;
}

/* Estilos específicos para "Volver a inicio" */
.volver-inicio {
    background-color: #ffffff; /* Color rojo */
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
}

/* Estilos específicos para el tipo */
.fuego {
    background-color: #d32f2f; /* Color rojo */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    display: inline-block;
}

.fantasma {
    background-color: #8A2BE2; 
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    display: inline-block;
}

.veneno {
    background-color: #BA55D3;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    display: inline-block;
}

.siniestro {
    background-color: #282828;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    display: inline-block;
}

.Psiquico {
    background-color: #ef4179;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    display: inline-block;
}

.lucha {
    background-color: #ff8000;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    display: inline-block;
}

.volador {
    background-color: #81b9ef;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    display: inline-block;
}

.acero {
    background-color: #CCCCCC;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    display: inline-block;
}

.charizard {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.charizard li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    width: 120px;
}

.charizard img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.charizard a {
    text-decoration: none;
    color: #d32f2f;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
}

.gastly {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gastly li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    width: 120px;
}

.gastly img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.gastly a {
    text-decoration: none;
    color: #8A2BE2;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
}

.Abra {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.Abra li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    width: 120px;
}

.Abra img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.Abra a {
    text-decoration: none;
    color: #ef4179;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
}

.Riolu {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.Riolu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    width: 120px;
}

.Riolu img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.Riolu a {
    text-decoration: none;
    color: #ff8000;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
}

/* Estilos para la descripción */
.descripcion {
    font-size: 0.8em;
    color: #333;
    line-height: 1.5;
    margin: 10px 0;
}