@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #f8f0dc;
    text-align: center;
    margin: 0;
    padding: 0;
}

.pokedex {
    padding: 20px;
}

.pokedex-image {
    width: 150px;
}

h1 {
    font-size: 2rem;
    color: #333;
}

.pokemon-list {
    list-style: none;
    padding: 0;
}

.pokemon-list li {
    margin: 10px 0;
}

.pokemon-list a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #d32f2f;
    font-weight: bold;
}

.pokemon-list a:hover {
    color: #ff5722;
}

img { 
  
  text-align: center;

}